@using Poc.Models
@using Poc.ViewModels
@{
    ViewData["Title"] = "Usuários";
}

@model UsuariosViewModel
<aside class="flex h-screen ml-[240px]">
    <div class="card-static w-full overflow-x-auto overflow-y-hidden">
        <div class="flex w-full justify-end mb-5">
            <a class="min-w-[160px] login-btn" onclick="window.ShowModal('NovoUsuarioModal')">
                <span class="mr-2">
                    <i class="fas fa-user-plus"></i>
                </span>
                Novo usuário
            </a>
        </div>
        <table class="text-white">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nome de usuário</th>
                    <th>Email</th>
                    <th>Criado em</th>
                    <th>Último acesso</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model.Usuarios.OrderByDescending(u => u.HorarioAcesso))
                {
                    <tr id="@usuario.GuidUsuario">
                        <td>@usuario.Nome</td>
                        <td>@usuario.NomeUsuario</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.CriadoEm.ToString("dd/MM/yyyy - HH:mm:ss")</td>
                        <td>@usuario.HorarioAcesso.ToString("dd/MM/yyyy - HH:mm:ss")</td>
                        <td>
                            @await Html.PartialAsync("_DeletarUsuarioModal", usuario.GuidUsuario)
                            <span title="Deletar usuário">
                                <a href="#" onclick="window.ShowModal('DeletarUsuarioModal')"
                                    class="hover:text-red-600 transition-colors">
                                    <i class="fas fa-trash-can"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</aside>

@await Html.PartialAsync("_NovoUsuarioModal", new UsuarioModel())